.conatiner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recommend {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.all {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
